<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Results</title>
</head>
<body>
    <h1>Thanks For The Review</h1>
    <h4>Your Name: {{name}}</h4>
    <h4>Comment: {{comment}}</h4>
    <h4>Rating: {{rating}}</h4>

    <a href="/">Back to Homepage</a>
</body>
</html>